{{>header}} 

{{>nav}}

<body>
    {{{body}}}

    <!-- Add the pet script -->
    <script>
      // Replace "example" with the desired sprite name
      var ele = createSitePet('ralphie');
    </script>
</body>

{{>footer}}