<li>
    <div class="row">
        <div>
            <div id="{{course_code}}" class="card" draggable="true" ondragstart="drag(event)">
                <div class="card-body">
                    <h3 class="card-title">{{course_name}}</h3>
                    <p class="card-text">{{course_code}}</p>
                </div>
            </div>
        </div>
    </div>
</li>